@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, caramellatte, lemonade, valentine, cyberpunk, retro;
}


@tailwind utilities;
.padding{
  @apply px-4 sm:px-8 md:px-12 lg:px-20 xl:px-28 2xl:px-36;
}
html{
  scroll-behavior: smooth;
}
*{
  font-family:"Poppins", sans-serif;
}
a.active{
  @apply  bg-secondary text-base-100 font-semibold
}
.shadowOne{
  @apply shadow-[0_1px_1px_rgba(0,0,0,0.05), 0_4px_6px_rgba(34,42,53,0.04), 0_24px_68px_rgba(47,48,55,0.05), 0_2px_3px_rgba(0,0,0,0.04)]
}